# SECURITY
SECRET_KEY=
DEBUG=
ALLOWED_HOSTS=
JWT_SECRET=

# DATABASE
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
ADMIN_PASSWORD=
DB_PORT=

# CORS
CORS_ALLOWED_ORIGINS=

VITE_WS_BASE=
VITE_WS_PATH=

REACT_APP_WS_BASE=
REACT_APP_WS_PATH=


CELERY_BROKER_URL=
REACT_APP_BACKEND_ORIGIN=

# TIMEZONE
TIME_ZONE=


EMAIL_HOST=
EMAIL_PORT=
EMAIL_USE_TLS=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

DEFAULT_FROM_EMAIL=

SIGNUP_ACTIVATION_TIMEOUT_SECONDS=3600
SECURITY_NOTIFICATION_EMAILS=
